body {
display: flex;
justify-content: center;
align-items: center 100vh;
background-color: rgb(43, 43, 43);
}

.clock {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px rgb(252, 255, 55)
}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: rgb(70, 255, 255);
    right: 149px;
    bottom: 149px;
    opacity: 50%;
    transform-origin: 0 100%;
}

#minutes-hand {
    height: 100px;
    width: 2px;
    background-color: rgb(253, 120, 227);
    position: absolute;
    right: 149px;
    bottom: 149px;
    transform-origin: 0 100%;
}

#hours-hand {
    height: 80px;
    width: 4px;
    background-color: rgb(205, 112, 255);
    position: absolute;
    right: 148px;
    bottom: 148px;
    transform-origin: 0 100%;
}

#center{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(252, 255, 55);
    left: 144px;
    bottom: 144px;
}